<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Teams <small> of <%= @department.title%></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>  
            </tr>
          </thead>
          <tbody>
            <% @teams.each_with_index do |team, index| %>
              <tr>
                <td><%= index + 1%> </td>
                <td>
                  <%= team.title%>
                </td>
                <td>
                  <%= team.description%>
                </td>               
                <td><%= link_to 'Edit', edit_company_business_unit_department_team_path(@company, @business_unit, @department, team) %></td>
                <td><%= link_to 'Destroy', company_business_unit_department_team_path(@company, @business_unit, @department, team), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>                        
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <%= link_to "Add New Team", new_company_business_unit_department_team_path(@company, @business_unit, @department), class: "btn btn-primary pull-right"%>
</div>
