<%= form_for(message) do |f| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :anonymous %>
    <%= f.check_box :anonymous %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :message_category_id %>
    <%= f.text_field :message_category_id %>
  </div>

  <div class="field">
    <%= f.label :sender_id %>
    <%= f.text_field :sender_id %>
  </div>

  <div class="field">
    <%= f.label :recipient_id %>
    <%= f.text_field :recipient_id %>
  </div>

  <div class="field">
    <%= f.label :read_at %>
    <%= f.datetime_select :read_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
