<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Anonymous</th>
      <th>Status</th>
      <th>Message category</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Read at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.body %></td>
        <td><%= message.anonymous %></td>
        <td><%= message.status %></td>
        <td><%= message.message_category %></td>
        <td><%= message.sender %></td>
        <td><%= message.recipient %></td>
        <td><%= message.read_at %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
