<h1></h1>
<%= link_to "Clear chat history", clear_chat_history_chat_room_chat_messages_path(@chat_room), method: :delete, remote: true%>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> 
                    <%= @chat_room.title %> | <%= raw(@chat_room.members.collect{|m| link_to m.first_name, m}.join(", "))%>

                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat" id="messages" data-chat-room-id="<%= @chat_room.id %>">
                    	<% @chat_room.chat_messages.each do |chat_message|%>
                			<%= render partial: "chat_messages/chat_message", locals: {chat_message: chat_message}%>
                    	<%end%>
                    </ul>
                </div>
                <div class="panel-footer">
					<%= form_for @chat_message, url: '#' do |f| %>
					  <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
					  <div class="input-group">
					    <%= f.text_field :body, class: "form-control input-sm", placeholder: "Type your message here (From 2 to 1000 characters)..." %>
					  
					  	<span class="input-group-btn">
					  		<%= f.submit "Post", class: 'btn btn-warning btn-sm' %>
				  	  	</span>
		  	  		</div>
					<% end %>

<!--                     <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
 -->
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
