<%= form_for employee, :html => { :multipart => true, :class => 'form-horizontal'}  do |f| %>
  <div class="col-md-6 col-sm-12 col-xs-12">

    <div class="form-group">
      <label class="col-lg-3 control-label">First Name<span class="required">*</span></label>
      <div class="col-lg-9">
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Middle Name", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :middle_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Last Name", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Profile Review", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-9">
        <div class="radio">
          <label>
          <%= f.radio_button :gender, "Male", required: true%>Male
          </label>
          <label>
            <%= f.radio_button :gender, "Female", required: true %>Female
          </label>
        </div>
      </div>
    </div> 

    <div class="form-group has-feedback">
      <%= f.label "Date of Birth", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :date_of_birth, :class => 'form-control has-feedback-left' %>
        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Marital Status", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-9">
        <div class="radio">
          <label>
          <%= f.radio_button :marital_status, "Single", required: true%>Single
          </label>
          <label>
            <%= f.radio_button :marital_status, "Married", required: true %>Married
          </label>
        </div>
      </div>
    </div> 

    <div class="form-group">
      <%= f.label "Photo", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.file_field :photo, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Linkedin URL", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :linked_url, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Github URL", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :github_url, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Facebook URL", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :facebook_url, :class => 'form-control' %>
      </div>
    </div> 

    <div class="form-group">
      <%= f.label "Blog URL", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :blog_url, :class => 'form-control' %>
      </div>
    </div> 

    <div class="form-group">
      <%= f.label "Other Refernce", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :other_references, :class => 'form-control' %>
      </div>
    </div>     
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">

    <div class="form-group">
      <label class="col-lg-3 control-label">Job Title<span class="required">*</span></label>
      <div class="col-lg-9">
        <%= f.collection_select :job_title_id, JobTitle.all, :id, :title, { :include_blank => "Select Job Title" }, { :class => 'form-control' } %>
      </div>
    </div> 

    <div class="form-group">
      <label class="col-lg-3 control-label">Job Location<span class="required">*</span></label>
      <div class="col-lg-9">
        <%= f.collection_select :business_unit_id, BusinessUnit.all, :id, :title, { :include_blank => "Select Job Title" }, { :class => 'form-control', onchange: "return loadDepartments();" } %>
      </div>
    </div> 

    <%= f.fields_for :employee_departments do |ep| %>
      <div class="form-group">
        <label class="col-lg-3 control-label">Departments<span class="required">*</span></label>
        <div class="col-lg-9">
          <%= ep.collection_select :department_id, Department.all, :id, :title, { :include_blank => "Select Job Title" }, { :class => 'form-control', required: "required" } %>
        </div>
      </div> 

      <div class="form-group">
        <%= f.label "Is Department head", :class => 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <div class="checkbox">
            <label>
              <%= ep.check_box :is_department_head, {}%>
            </label>
          </div>
        </div>
      </div>      
    <%end%>

    <%= f.fields_for :employee_teams do |et| %>
      <div class="form-group">
        <label class="col-lg-3 control-label">Team<span class="required">*</span></label>
        <div class="col-lg-9">
          <%= et.collection_select :team_id, Team.all, :id, :title, { :include_blank => "Select Job Title" }, { :class => 'form-control', required: "required" } %>
        </div>
      </div>      
    <%end%>

    <div class="form-group">
      <label class="col-lg-3 control-label">Employee ID<span class="required">*</span></label>
      <div class="col-lg-9">
        <%= f.text_field :employee_code, :class => 'form-control' %>
      </div>
    </div>  

    <div class="form-group has-feedback">
      <%= f.label "Joining Date", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :joining_date, :class => 'form-control has-feedback-left' %>
        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-3 control-label">Address Line 1<span class="required">*</span></label>
      <div class="col-lg-9">
        <%= f.text_field :address_line_1, :class => 'form-control' %>
      </div>
    </div>  

    <div class="form-group">
      <%= f.label "Address Line 2", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :address_line_2, :class => 'form-control' %>
      </div>
    </div>  

    <div class="form-group">
      <%= f.label "City & State", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-4">
        <%= f.text_field :city, :class => 'form-control', placeholder: "City" %>
      </div>
      <div class="col-lg-5">
        <%= f.text_field :state, :class => 'form-control', placeholder: "State" %>
      </div>
    </div>  

    <div class="form-group">
      <%= f.label "Country & Zip code", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-5">
        <%= f.text_field :country, :class => 'form-control' %>
      </div>
      <div class="col-lg-4">
        <%= f.text_field :zip, :class => 'form-control', placeholder: "Zip code" %>
      </div>      
    </div>  

    <div class="form-group">
      <%= f.label "Contact info", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-5">
        <%= f.text_field :office_phone_ext, :class => 'form-control' %>
      </div>
      <div class="col-lg-4">
        <%= f.text_field :office_phone, :class => 'form-control', placeholder: "Home Phone Number" %>
      </div>      
    </div>   

    <div class="form-group">
      <%= f.label "Office Phone", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_field :mobile, :class => 'form-control', placeholder: "Mobile" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Is Active", :class => 'col-lg-3 control-label' %>
      <div class="col-lg-9">
        <div class="checkbox">
          <label>
            <%= f.check_box :is_active, {}%>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "About", :class => 'control-label col-lg-3 control-label' %>
      <div class="col-lg-9">
        <%= f.text_area :about, :class => 'form-control', placeholder: "Brief introduction about Employee" %>
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

  <div class="ln_solid"></div>

  <div class="form-group">

    <div class="col-md-12">
    <%= button_tag(:type => "submit", :class => "btn btn-success pull-right") do %>
      <span class="fa fa-save fa-fw"></span> Save
    <% end %>

    <%= link_to employees_path(), :class => 'btn btn-danger'  do %>
      <span class="fa fa-ban fa-fw"></span> Cancel
    <% end %>         
  </div>
</div>

<% end %>


<script type="text/javascript">
  function loadDepartments(){
    $.getJSON("/companies/1/business_units/1/departments.json", function(departments){
      console.log(departments);

$.each(departments, function(index, value) {
  console.log(value.id);
      $('#employee_employee_departments_attributes_0_department_id option[value="'+value.id+'"]').remove();
});


      // $('#employee_employee_departments_attributes_0_department_id option[value!="3"]').remove();
    })
    // $('#employee_employee_departments_attributes_0_department_id option[value!="3"]').remove();
  }
</script>>