<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Employees <small> </small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <ul class="pagination pagination-split">
            <%("A".."Z").each do |alphabet|%>
              <li>
                  <%= link_to alphabet ,employees_path(alphabet: alphabet), class: (alphabet == params[:alphabet].try(:upcase) ? "selected" : "")%>
              </li>
            <%end%>
              </ul>
            </div>

            <div class="clearfix"></div>

            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Department & Team</th>
                  <th>Chat</th>
                  <th>Mobile</th>
                  <th>Email/username</th>
                  <th></th>  
                </tr>
              </thead>
              <tbody>
                <% @employees.each_with_index do |emp, index| %>
                  <tr>
                    <td><%= index + 1%> </td>
                    <td><%= emp.full_name%> (<%= emp.job_title.try(:title)%>)</td>
                    <td><%= emp.employee_code%></td>
                    <td> TBD </td>
                    <td><%= emp.mobile%></td>
                    <td><%= emp.user.try(:email)%></td>
                    <td><%= link_to "Chat", chat_rooms_path("chat_room[member_ids]": [emp.id]), method: :post%></td>
                    <td><%= link_to 'Edit', edit_employee_path(emp) %></td>
                    <td><%= link_to 'Destroy', emp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>                        
              </tbody>
            </table>
          </div>
        

        </div>
    </div>
  </div>
  <%= link_to "Add New Employee", new_employee_path(), class: "btn btn-primary pull-right"%>
</div>
