<%= form_for(dimension) do |f| %>
  <% if dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>

      <ul>
      <% dimension.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
