<p id="notice"><%= notice %></p>

<h1>Dimensions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dimensions.each do |dimension| %>
      <tr>
        <td><%= link_to 'Show', dimension %></td>
        <td><%= link_to 'Edit', edit_dimension_path(dimension) %></td>
        <td><%= link_to 'Destroy', dimension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dimension', new_dimension_path %>
