<h1>Editing Department: <%= @department.title%></h1>

<%= render partial: 'form', locals: {company: @company ,business_unit: @business_unit, department: @department} %>

<%= link_to 'Back', company_business_unit_departments_path(@company, @business_unit) %>
