<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Departments <small> of <%= @business_unit.title%></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>  
            </tr>
          </thead>
          <tbody>
            <% @departments.each_with_index do |department, index| %>
              <tr>
                <td><%= index + 1%> </td>
                <td>
                  <%= department.title%>
                </td>
                <td>
                  <%= department.description%>
                </td>
                <td><%= link_to 'Teams', company_business_unit_department_teams_path(@company, @business_unit, department) %></td>                
                <td><%= link_to 'Edit', edit_company_business_unit_department_path(@company, @business_unit, department) %></td>
                <td><%= link_to 'Destroy', company_business_unit_department_path(@company, @business_unit,department), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>                        
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <%= link_to "Add New Department", new_company_business_unit_department_path(@company, @business_unit), class: "btn btn-primary pull-right"%>
</div>
