<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Configurations</h3>
    </div>
</div>
<!-- /.row -->
<div class="row text-center">
    <%if can?(:read, Company)%>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <h2>Company</h2>
            <div class="caption">
                <h3><%= @company.try(:name) || "Setup Company Profile"%></h3>
                <p>
                    <%if @company.nil?%>
                        <%= link_to "Add", new_company_path(), class: "btn btn-primary"%>
                    <%else%>
                        <%= link_to "Change", edit_company_path(@company), class: "btn btn-primary"%>
                    <%end%>
                </p>
            </div>
        </div>
    </div>
    <%end%>

    <%if can?(:read, JobTitle)%>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <h2>Job Title</h2>
            <div class="caption">
                <h3>Setup Job Title</h3>
                <p>
                    <%= link_to "List", job_titles_path(), class: "btn btn-primary"%>
                </p>
            </div>
        </div>
    </div>
    <%end%>

    <%if can?(:manage, Role)%>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <h2>User Roles</h2>
            <div class="caption">
                <h3>Setup User Roles</h3>
                <p>
                    <%= link_to "List", roles_path(), class: "btn btn-primary"%>
                </p>
            </div>
        </div>
    </div>
    <%end%>

    <%if can?(:read, Employee)%>
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <h2>Employee Directory</h2>
            <div class="caption">
                <h3>Get employee detail</h3>
                <p>
                    <%= link_to "List", employees_path(), class: "btn btn-primary"%>
                </p>
            </div>
        </div>
    </div> 
    <%end%>
    
</div>