<%= form_for(job_title) do |f| %>
  <% if job_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_title.errors.count, "error") %> prohibited this job_title from being saved:</h2>

      <ul>
      <% job_title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="form-group">
      <label class="col-lg-4 control-label">Title<span class="required">*</span></label>
      <div class="col-lg-6">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-4 control-label">More information<span class="required">*</span></label>
      <div class="col-lg-6">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
    </div>
    

  </div>
  <div class="clearfix"></div>

  <div class="ln_solid"></div>

  <div class="form-group">

    <div class="col-md-3 col-sm-0 col-xs-2 col-md-offset-0 pull-right">
        <%= button_tag(:type => "submit", :class => "btn btn-success") do %>
          <span class="fa fa-save fa-fw"></span> Save
        <% end %>

        <%= link_to job_titles_path(), :class => 'btn btn-danger'  do %>
        <span class="fa fa-ban fa-fw"></span> Cancel
      <% end %>         
      </div>
    </div>
<% end %>
