<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Job Titles <small> </small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>  
            </tr>
          </thead>
          <tbody>
            <% @job_titles.each_with_index do |job_title, index| %>
              <tr>
                <td><%= index + 1%> </td>
                <td>
                  <%= job_title.title%>
                </td>
                <td>
                  <%= job_title.description%>
                </td>               
                <td><%= link_to 'Edit', edit_job_title_path(job_title) %></td>
                <td><%= link_to 'Destroy', job_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>                        
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <%= link_to "Add New Job Title", new_job_title_path(), class: "btn btn-primary pull-right"%>
</div>
