<%= form_for company, :html => { :class => 'form-horizontal'}  do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 col-sm-12 col-xs-12">

    <div class="form-group">
      <%= f.label "Name", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Email", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
    </div>


  </div>


  <div class="clearfix"></div>

  <div class="ln_solid"></div>

  <div class="form-group">

    <div class="col-md-3 col-sm-0 col-xs-2 col-md-offset-0 pull-right">
      <%= button_tag(:type => "submit", :class => "btn btn-success") do %>
        <span class="fa fa-save fa-fw"></span> Save
      <% end %>

      <%= link_to "#", :class => 'btn btn-danger'  do %>
        <span class="fa fa-ban fa-fw"></span> Cancel
      <% end %>         
    </div>
  </div>

<% end %>
