  <% bool = chat_message.id%2 == 0%>

  <% margin = bool ? "left" : "right"%>
  <% inv_margin = !bool ? "left" : "right"%>
  <li class="<%= margin%> clearfix">
    <span class="chat-img pull-<%= margin%>">
      <%= image_tag chat_message.employee.photo.url(:small), class: "img-circle" %>
    </span>
    <div class="chat-body clearfix">
        <div class="header">
          <%if bool%>
            <strong class="primary-font"><%= chat_message.employee.full_name %></strong> 
            <small class="text-muted pull-right">
                <span class="glyphicon glyphicon-time"></span><%= chat_message.timestamp %>
            </small>
          <%else%>
            <small class="text-muted">
                <span class="glyphicon glyphicon-time"></span><%= chat_message.timestamp %>
            </small>
            <strong class="primary-font pull-right"><%= chat_message.employee.full_name %></strong>             
          <%end%>
        </div>
        <p>
            <%= chat_message.body %>
        </p>
    </div>
  </li>
