
<%= form_for [company, business_unit] do |f| %>
  <% if business_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_unit.errors.count, "error") %> prohibited this business_unit from being saved:</h2>

      <ul>
      <% business_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="form-group">
      <label class="col-lg-4 control-label">Title<span class="required">*</span></label>
      <div class="col-lg-6">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Is Headquater", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <div class="checkbox">
          <label>
            <%= f.check_box :is_headquater, {}%>
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-4 control-label">Address Line 2<span class="required">*</span></label>
      <div class="col-lg-6">
        <%= f.text_field :address_line_1, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Address Line 2", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :address_line_2, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "City", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :city, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "State", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :state, :class => 'form-control' %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label "Zip Code", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :zipcode, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Country", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :country, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Contact Number", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :phone, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Fax", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :fax, :class => 'form-control', placeholder: "2 years & 5 months" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "URL", :class => 'col-lg-4 control-label' %>
      <div class="col-lg-6">
        <%= f.text_field :url, :class => 'form-control' %>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>

  <div class="ln_solid"></div>

  <div class="form-group">

    <div class="col-md-3 col-sm-0 col-xs-2 col-md-offset-0 pull-right">
        <%= button_tag(:type => "submit", :class => "btn btn-success") do %>
          <span class="fa fa-save fa-fw"></span> Save
        <% end %>

        <%= link_to root_path(), :class => 'btn btn-danger'  do %>
        <span class="fa fa-ban fa-fw"></span> Cancel
      <% end %>         
      </div>
    </div>

<% end %>
