<h1>Editing Business Unit : <%= @business_unit.title%></h1>

<%= render partial: 'form', locals: {company: @company ,business_unit: @business_unit} %>

<%= link_to 'Back', company_business_units_path(@company) %>
