<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Business Units<small> of <%= @company.name%></small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>URL</th>
                          <th></th>  
                        </tr>
                      </thead>
                      <tbody>
                        <% @business_units.each_with_index do |business_unit, index| %>
                          <tr>
                            <td><%= index + 1%> </td>
                            <td>
                              <%= business_unit.title%>
                            </td>
                            <td>
                              <%= business_unit.address%>
                            </td>
                            <td>
                              <%= link_to business_unit.url%>
                            </td>
                            <td><%= link_to 'Edit', edit_company_business_unit_path(@company, business_unit) %></td>
                            <td><%= link_to 'Destroy', company_business_unit_path(@company, business_unit), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <td><%= link_to 'Departments', company_business_unit_departments_path(@company, business_unit) %></td>

                          </tr>
                        <% end %>                        
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <%= link_to "Add New Business Unit", new_company_business_unit_path(@company), class: "btn btn-primary pull-right"%>
</div>

