<div class="row">
  <div class="col-md-12 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Roles <small> </small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th></th>  
            </tr>
          </thead>
          <tbody>
            <% @roles.each_with_index do |role, index| %>
              <tr>
                <td><%= index + 1%> </td>
                <td>
                  <%= role.title%>
                </td>
                <td>
                  <%= role.description%>
                </td>               
                <td><%= link_to 'Edit', edit_role_path(role) %></td>
                <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>                        
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <%= link_to "Add New role", new_role_path(), class: "btn btn-primary pull-right"%>
</div>
