<%= form_for(message_category) do |f| %>
  <% if message_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_category.errors.count, "error") %> prohibited this message_category from being saved:</h2>

      <ul>
      <% message_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
