<p id="notice"><%= notice %></p>

<h1>Message Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_categories.each do |message_category| %>
      <tr>
        <td><%= message_category.name %></td>
        <td><%= link_to 'Show', message_category %></td>
        <td><%= link_to 'Edit', edit_message_category_path(message_category) %></td>
        <td><%= link_to 'Destroy', message_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Category', new_message_category_path %>
