<!DOCTYPE html>
<html>
  <head>
    <title>Employee Engagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>

  </head>

  <body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	    <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/">Forgeahead</a>
	        </div>
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Post <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to :List, posts_path%></li>
                            <li><%= link_to :New, new_post_path%></li>
                        </ul>	                	
	                </li>
	                <li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Message <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to :List, messages_path%></li>
                            <li><%= link_to :New, new_message_path%></li>
                        </ul>	                    
	                </li>
	                <li>
	                    <%= link_to "Chat", chat_rooms_path()%>
	                </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
            		<%if user_signed_in?%>
            			<%if current_user.admin?%>
            				<li><%= link_to "Role managment", ""%></a></li>
            			<%end%>
            			<li><%= link_to "Welcome #{current_employee.full_name}", current_employee%></a></li>
            			<li><%= link_to "Logout", destroy_user_session_path(), method: :delete%></li>
        			<%else%>
        				<li><%= link_to "Sign in", new_user_session_path()%></li>
        			<%end%>
	            </ul>
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container -->
	</nav>
	<br/>

	<%= render_breadcrumbs :separator => ' > ' %>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<% flash_messages %>
			</div>
		</div>
    	<%= yield %>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="pull-right">Copyright &copy; Forgeahead solutions 2016</p>
                </div>
            </div>
        </footer>
    </div>


  </body>
</html>
