<%= form_for(chat_room_member) do |f| %>
  <% if chat_room_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chat_room_member.errors.count, "error") %> prohibited this chat_room_member from being saved:</h2>

      <ul>
      <% chat_room_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
