<p id="notice"><%= notice %></p>

<h1>Chat Room Members</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_room_members.each do |chat_room_member| %>
      <tr>
        <td><%= link_to 'Show', chat_room_member %></td>
        <td><%= link_to 'Edit', edit_chat_room_member_path(chat_room_member) %></td>
        <td><%= link_to 'Destroy', chat_room_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat Room Member', new_chat_room_member_path %>
